*.*#
*.pkl
*.swp
*.csv
*.pyc

**/videos/*.mov



__pycache__/
build/
dist/
movie/
neat/models/
neat/visuals/
gym_copter.egg-info/


drl/archive
drl/test

drl/**/models/
drl/**/logs

*/models/
*/logs/

/.idea
.DS_Store